<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.suntiago.getpermission">

    <application>
        <activity
            android:name="com.suntiago.getpermission.rxpermissions.ShadowActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />

    </application>
</manifest>
